<p>eventbinding works!</p>
<button type="button" class="btn btn-primary">Primary</button>

<button type="button" class="btn btn-success" (dblclick)="click2()">Success</button>
c
<button class="btn btn-info" (click)="onclick()">Click Me</button>

<button type="button" (mouseover)="click3()">mouseover</button>
<button type="button" (mouseout)="click2()">mouseout</button>
<button type="button" (mousemove)="click2()">mousemove</button>

<input type="text" value="key down" (keydown)="keyword()">
<input type="text" value="key up" (keyup)="keyword()">
<input type="text" value="blur" (focusout)="blur">fous lost

<img [src]="imgurl" alt=" hukum" height="300px" width="300px">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda rem, veniam blanditiis delectus,
    laborum explicabo impedit doloremque eveniet nostrum quae autem reprehenderit, ex molestias in quaerat iure
    aspernatur ab.</p>