<p>s-interpolation works!</p>

<h1>myname is :{{name}} , age is {{age}}</h1>
<h1>age is :{{age}}</h1>
<h4>Graduation is :{{Graduation}}</h4>
<h4>My name length is : {{name.toUpperCase()}}</h4>
<h4>phone number is :{{phone_number}}</h4>
<h4>getmyname :{{getmyname()}}</h4>
<h5>{{obj.name}}</h5>
<h6>{{obj.age}}</h6>
<h6>{{obj.profession}}</h6>
 <h6>{{obj| json}}</h6>  <!-- for all object values using pipes-->
  {{obj1 | json}} <!--for array structred object -->
  <img src={{imgurl}}  alt="hey" height="500px" width="500px">
  <h1>this upto s-interpolation</h1>