 

<!-- <app-home></app-home> -->
<!-- <div class="app-home"></div> -->
 <!-- <div id="app-home"></div> -->

<!-- <app-aboutus>about us component </app-aboutus> -->

<!-- <app-s-interpolation></app-s-interpolation> -->
    <!-- <app-pbinding></app-pbinding> -->

    <!-- <app-eventbinding></app-eventbinding> -->
    <!-- <app-twoway-databinding></app-twoway-databinding>
    <app-classbinding></app-classbinding> -->
    <!-- <app-stylebinding></app-stylebinding> -->
    <!-- <app-dirctives></app-dirctives> -->
    <!-- <app-if></app-if> -->
    <router-outlet></router-outlet>
     
    <!-- <p  class="appCHighlight"> ananth</p>
    <app-viewchild></app-viewchild>
         -->